# Database connection string for Prisma
DATABASE_URL="postgres://user:password@localhost:5432/your-database-name"

# Socket server configuration
SOCKET_PORT=3001
SOCKET_ALLOWED_ORIGINS="http://localhost:3000,http://localhost:3002"

NODE_ENV=development
